body {
	padding: 5% 20%;
}

.container {
	background: #4dd0e1;
	border-radius: 10px;
	padding: 1% 10%;
	padding-bottom: 5%;
}

.head {
	font-size: 2.2em;
	color: #424242;
	margin: 50px 50px 25px 0;
}

label {
	color: #424242;
}
